html, body {
    font-family: "Lato", sans-serif;
    padding: 1em 5em 1em 5em;
    background-color: #F4F5FA;
    color: #3E4155;
}

h1 span {
    padding: 0.125em 0.375em 0.125em 0.375em;
    background-color: #202E78;
    color: #F4F5FA;
    border-radius: 0.125em;
}

button {
    font-size: 1.75em;
    padding: 0.5em 1.25em 0.5em 1.25em;
    background-color: #F4F5FA;
    border: 0.1em solid #202E78;
    border-radius: 0.25em;
    transition: 0.25s;
}

button:hover {
    background-color: #202E78;
    color: #F4F5FA;
}

.logo {
    display: inline-block;
}

.title {
    padding-left: 0.5em;
    color: #5C6AC4;
    font-size: 1.25em;
    display: inline-block;
}

.header {
    border-bottom: 0.125em solid #5C6AC4;
}

.content {
    text-align: center;
}

.content-title {
    font-size: 2em;
}

.content-body {
    font-size: 2em;
    padding-bottom: 1em;
}