html, body {
    font-family: "Lato", sans-serif;
    padding: 0 3.75em 0 3.75em;
    background-color: #F4F5FA;
    color: #3E4155;
}

h1 span {
    padding: 0.125em 0.375em 0.125em 0.375em;
    background-color: #202E78;
    color: #F4F5FA;
    border-radius: 0.125em;
}

h3 span {
    padding: 0.25em 0.5em 0.25em 0.5em;
    background-color: #202E78;
    color: #F4F5FA;
    border-radius: 0.125em;
}

button {
    font-size: 1.5em;
    padding: 0.5em 1.25em 0.5em 1.25em;
    background-color: #F4F5FA;
    color: #202E78;
    border: 0.1em solid #202E78;
    border-radius: 0.25em;
    margin: 0 0.5em 0 0.5em;
    transition: 0.125s;
}

button:hover {
    background-color: #202E78;
    color: #F4F5FA;
}

label {
    display: block;
    padding-bottom: 0.1em;
}

input {
    background-color: inherit;
    font-size: 1em;
    padding: 1em;
    border: 0.1em solid #202E78;
    border-radius: 0.25em;
    margin: 0 0.5em 0 0.5em;
    transition: 0.25s;
}

input:focus {
    border-color: #5C6AC4;
    outline: none!important;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 10em #F4F5FA inset !important;
}

ul {
    list-style-type: none;
}

li {
    font-size: 1.25em;
    padding: 1em 1.25em 1em 1.25em;
    display: inline-block;
}

.icon {
    display: inline-block;
}

.title {
    padding-left: 0.5em;
    color: #5C6AC4;
    font-size: 1.375em;
    display: inline-block;
}

.header {
    border-bottom: 0.125em solid #5C6AC4;
}

.content {
    text-align: center;
}

.content-title {
    font-size: 2em;
}

.content-body {
    font-size: 2em;
}

.link{
    position: relative;
}

.link:after{
    content: '';
    position: absolute;
    width: 0;
    height: 0.25em;
    display: block;
    margin-top: 5px;
    right: 0;
    background: #202E78;
    transition: width .25s ease;
}

.link:hover:after{
    width: 100%;
    left: 0;
    background: #202E78;
}
.redirect-content {
    font-size: 0.875em;
}

.nav-bar {
    padding-top: 1em;
    display: inline-block;
}

.log-out {
    display: inline-block;
    float: right;
    position: relative;
    margin-top: 1em;
}