html, body {
    font-family: "Lato", sans-serif;
    padding: 0 3.75em 0 3.75em;
    background-color: #F4F5FA;
    color: #3E4155;
}

h1 span {
    padding: 0.125em 0.375em 0.125em 0.375em;
    background-color: #202E78;
    color: #F4F5FA;
    border-radius: 0.125em;
}

h3 span {
    padding: 0.25em 0.5em 0.25em 0.5em;
    background-color: #202E78;
    color: #F4F5FA;
    border-radius: 0.125em;
}

button {
    font-size: 1.5em;
    padding: 0.5em 1.25em 0.5em 1.25em;
    background-color: #F4F5FA;
    color: #202E78;
    border: 0.1em solid #202E78;
    border-radius: 0.25em;
    margin: 0 0.75em 0 0.75em;
    transition: 0.25s;
}

button:hover {
    background-color: #202E78;
    color: #F4F5FA;
}


label {
    display: block;
    padding-bottom: 0.1em;
}

input {
    background-color: inherit;
    font-size: 1em;
    padding: 1em;
    border: 0.1em solid #202E78;
    border-radius: 0.25em;
    margin: 0 0.75em 0 0.75em;
}

input:focus {
    outline: none!important;
}

.logo {
    display: inline-block;
}

.title {
    padding-left: 0.5em;
    color: #5C6AC4;
    font-size: 1.375em;
    display: inline-block;
}

.header {
    border-bottom: 0.125em solid #5C6AC4;
}

.content {
    text-align: center;
}

.content-title {
    font-size: 2em;
}

.content-body {
    font-size: 2em;
}

.link {
    color: inherit;
    text-decoration: none!important;
}