html, body {
    font-family: "Roboto", sans-serif;
    padding: 1em 5em 1em 5em;
    background: white;
}

img {
    display: block;
    margin: 0 auto;
    max-width:100%;
    max-height:100%;
}

a {
    text-decoration: none !important;
}

p {
    font-size: large;
    width: 50em;
}

hr {
    border-color: royalblue;
}

.header {
    margin: 0;
    padding-bottom: 5em;
    border-bottom: 0.05em solid royalblue;
    display: block;
}

.banner-title {
    z-index: 100;
    color: white;
    letter-spacing: -1px;
    background: rgb(0, 0, 0);
    font-size: 2vw;
}

.banner-subtitle {
    color: white;
    letter-spacing: -1px;
    background: rgb(0, 0, 0);
    font-size: 1.5vw;
}

span {
    padding: 1em;
}

.content {
    padding: 1em;
    background-color: ghostwhite;
    border-radius: 0.5em;
    text-align: justify;
    text-justify: inter-word;
}

.title {
    color: deepskyblue;
    font-style: italic;
    vertical-align: bottom;
    float: left;
}
.navbar {
    float: right;
    display: table;
}

.navbar ul {
    list-style-type: none;
}

.navbar ul li h3{
    vertical-align: bottom;
    display: table-cell;
    background-color: darkblue;
    color: white;
    border-radius: 0.25em;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
     background-color: #01579b;
    border-bottom-left-radius: 0.5em;
  padding: 1.5em;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
