html, body {
    font-family: "Roboto", sans-serif;
    padding: 1em 5em 1em 5em;
    background: white;
}

.header {
    margin: 0;
    padding-bottom: 5em;
    border-bottom: 0.05em solid royalblue;
    display: block;
}

.content {
    padding: 1em;
    background-color: ghostwhite;
    border-radius: 0.5em;
}

.title {
    color: deepskyblue;
    font-style: italic;
    float: left;
}
.navbar {
    float: right;
}

.navbar ul li {
    vertical-align: bottom;
    padding-left: 1em;
    display: inline-block;
}

.navbar ul li h3 {
    border: 1px solid black;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
     background-color: #01579b;
    border-bottom-left-radius: 0.5em;
  padding: 1.5em;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
