html, body {
    font-family: "Lato", sans-serif;
    padding: 1em 5em 1em 5em;
    background: white;
}

h1 {
    padding-left: 0.25em;
    color: royalblue;
    display: inline-block;
}

img {
    display: inline-block;
}

.header {
    margin: 0;
    border-bottom: 0.1em solid royalblue;
    display: block;
}

.content-title {
    font-size: 3em;
    text-align: center;
}

.content-body {
    font-size: 1.5em;
    text-align: center;
}